region      = "us-east-1"
project     = "oficina"
environment = "prod"

vpc_cidr = "10.0.0.0/16"
azs      = ["us-east-1a", "us-east-1b"]

kubernetes_version = "1.31"

lab_role_name = "LabRole"

node_instance_types = ["t3.small"]
node_capacity_type  = "ON_DEMAND"
node_desired_size   = 2
node_min_size       = 2
node_max_size       = 4

extra_cluster_admin_arns = []
